y<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyLXmc25cwyfauVnFLllE8ffLF4r8lDGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>739469982051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biztomate.scanner</string>
	<key>PROJECT_ID</key>
	<string>biztomate-scanner-4d73e</string>
	<key>STORAGE_BUCKET</key>
	<string>biztomate-scanner-4d73e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739469982051:ios:12ba3febe85700a4bbbb56</string>
	<key>DATABASE_URL</key>
	<string>https://biztomate-scanner-4d73e-default-rtdb.firebaseio.com</string>
	<key>GOOGLE_SIGNIN_API_KEY</key>
	<string>AIzaSyDyLXmc25cwyfauVnFLllE8ffLF4r8lDGQ</string>
	<key>GOOGLE_SIGNIN_BUNDLE_ID</key>
	<string>com.biztomate.scanner</string>
	<key>GOOGLE_SIGNIN_CLIENT_ID</key>
	<string>589420296847-30lpkp40vn7kjn27qkq72i9dma9kc0dc.apps.googleusercontent.com</string>
	<key>GOOGLE_SIGNIN_DATABASE_URL</key>
	<string>https://biztomate-scanner-4d73e-default-rtdb.firebaseio.com</string>
	<key>GOOGLE_SIGNIN_PROJECT_ID</key>
	<string>biztomate-scanner-4d73e</string>
	<key>GOOGLE_SIGNIN_STORAGE_BUCKET</key>
	<string>biztomate-scanner-4d73e.firebasestorage.app</string>
</dict>
</plist> 